BasedOnStyle: LLVM
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
ColumnLimit: 100
Cpp11BracedListStyle: false
ForEachMacros:
  - uhash_foreach
  - uvec_foreach
  - uvec_foreach_reverse
IndentCaseLabels: true
IndentWidth: 4
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakOpenParenthesis: 100
PenaltyExcessCharacter: 1000
PenaltyIndentedWhitespace: 1
PenaltyReturnTypeOnItsOwnLine: 0
StatementMacros:
  - ULIB_BEGIN_DECLS
  - ULIB_END_DECLS
  - p_ubit_count_set_def
TypenameMacros:
  - UHash
  - UVec
WhitespaceSensitiveMacros:
  - ULIB_DEPRECATED
